## Motivation

Every two years, every member of the United States House of Representatives is up for election. After being elected, members of the House are given a set budget from the legislature itself to hire staff, buy office equipment, and defray other costs of legislating and addressing constituent concerns. While each office gets the same amount of money from Congress to spend on these purposes, congressional offices have discretion over how that allowance is actually spent, and we would like to see whether some spending patterns are associated with higher political success.

# Getting/Formatting the Data

For this project, we decided to use the [House Office Expenditure Data](https://www.propublica.org/datastore/dataset/house-office-expenditures) from ProPublica as it contains well formatted data about house expenditures from 2009 to 2018. The main downside of this dataset is that it is missing data from the most recent midterm election, but we still have almost 10 years of data to work with.

To programatically access the datasets we are working with, we have included copies here [repository](https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/).

In [53]:
import pandas as pd
# just finna test with one of the files to see what happens
frames = []
# #manually add stuff for 2009 since only Q3 and Q4 are present
# frames.append(pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2009Q3-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))
# frames.append(pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2009Q4-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))


#automate the dataframes from 2010 to 2017
for i in range(2016, 2018):
    for j in range(1, 5):
        df = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv', thousands=',')
        df.dropna(subset = ['BIOGUIDE_ID'], inplace=True)
        df["QUARTER"] = str(i) + 'Q' + str(j)#df.apply(lambda row: str(i) + 'Q' + str(j))
        frames.append(df)
        

# manually add stuff for 2018 since only Q1 is present
df = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2018Q1-house-disburse-detail.csv', thousands=',')
df.dropna(subset = ['BIOGUIDE_ID'], inplace=True)
df["QUARTER"] = str(2018) + 'Q' + str(1)
frames.append(df)

house_data = pd.concat(frames)
house_data

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,BIOGUIDE_ID,OFFICE,QUARTER,CATEGORY,DATE,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,YEAR,TRANSCODE,TRANSCODELONG,RECORDID,RECIP (orig.),PROGRAM,SORT SEQUENCE
5387,A000374,HON. RALPH ABRAHAM,2016Q1,FRANKED MAIL,01-31,NaN,01/20/16,01/31/16,FRANKED MAIL,-25.85,2016,GL,General ledger,FLG0055718,NaN,NaN,NaN
5388,A000374,HON. RALPH ABRAHAM,2016Q1,FRANKED MAIL,02-29,UNITED STATES POSTAL SERVICE,01/03/16,01/31/16,FRANKED MAIL,627.83,2016,AP,Accounts payable,00844090,UNITED STATES POSTAL SERVICE,NaN,NaN
5389,A000374,HON. RALPH ABRAHAM,2016Q1,FRANKED MAIL,02-29,NaN,02/20/16,02/29/16,FRANKED MAIL,-62.50,2016,GL,General ledger,FLG0056519,NaN,NaN,NaN
5390,A000374,HON. RALPH ABRAHAM,2016Q1,FRANKED MAIL,03-23,UNITED STATES POSTAL SERVICE,02/01/16,02/29/16,FRANKED MAIL,944.14,2016,AP,Accounts payable,00849298,UNITED STATES POSTAL SERVICE,NaN,NaN
5391,A000374,HON. RALPH ABRAHAM,2016Q1,FRANKED MAIL,03-31,NaN,03/20/16,03/31/16,FRANKED MAIL,-9.45,2016,GL,General ledger,FLG0057391,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61345,Z000017,2017 HON. LEE M. ZELDIN,2018Q1,SUPPLIES AND MATERIALS,2/19/18,CITI PCARD-READYREFRESH BY NESTLE,12/29/17,12/30/17,OFFICE SUPPLIES (OUTSIDE),54.85,2017,AP,NaN,974834,NaN,OFFICIAL EXPENSES OF MEMBERS,DETAIL
61346,Z000017,2017 HON. LEE M. ZELDIN,2018Q1,SUPPLIES AND MATERIALS,2/19/18,CITI PCARD-TIMES REVIEW NEWSPAP,12/29/17,1/26/18,PUBLICATIONS/REFERENCE MAT'L,110.00,2018,AP,NaN,974834,NaN,OFFICIAL EXPENSES OF MEMBERS,DETAIL
61347,Z000017,2017 HON. LEE M. ZELDIN,2018Q1,SUPPLIES AND MATERIALS,NaN,NaN,NaN,NaN,SUPPLIES AND MATERIALS TOTALS:,2183.20,2018,NaN,NaN,NaN,NaN,OFFICIAL EXPENSES OF MEMBERS,SUBTOTAL
61348,Z000017,2017 HON. LEE M. ZELDIN,2018Q1,SUPPLIES AND MATERIALS,NaN,NaN,NaN,NaN,OFFICIAL EXPENSES OF MEMBERS TOTALS:,38303.93,2018,NaN,NaN,NaN,NaN,OFFICIAL EXPENSES OF MEMBERS,SUBTOTAL
61349,Z000017,2017 HON. LEE M. ZELDIN,2018Q1,SUPPLIES AND MATERIALS,NaN,NaN,NaN,NaN,OFFICE TOTALS:,38303.93,2018,NaN,NaN,NaN,NaN,OFFICIAL EXPENSES OF MEMBERS,GRAND TOTAL FOR ORGANIZATION

[election data](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2)

In [54]:
election_data = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/1976-2020-house.csv')

# filter out the years before 2009 and after 2018
election_data = election_data[election_data['year'] >= 2009]
election_data = election_data[election_data['year'] <= 2018]

election_data

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
22553,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,DAVID WALTER,CONSTITUTION,False,TOTAL,26357,156281,False,20220331,False
22554,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,JO BONNER,REPUBLICAN,False,TOTAL,129063,156281,False,20220331,False
22555,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,861,156281,False,20220331,False
22556,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,BOBBY BRIGHT,DEMOCRAT,False,TOTAL,106865,219028,False,20220331,False
22557,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,MARTHA ROBY,REPUBLICAN,False,TOTAL,111645,219028,False,20220331,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29631,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,DANIEL CLYDE CUMMINGS,CONSTITUTION,False,TOTAL,6070,201245,False,20220331,False
29632,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,GREG HUNTER,DEMOCRAT,False,TOTAL,59903,201245,False,20220331,False
29633,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,LIZ CHENEY,REPUBLICAN,False,TOTAL,127963,201245,False,20220331,False
29634,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,RICHARD BRUBAKER,LIBERTARIAN,False,TOTAL,6918,201245,False,20220331,False
29635,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,391,201245,False,20220331,False

Try to figure out what categories we are working with and how these categories should be group into broader categories

In [55]:
from collections import defaultdict
categories = defaultdict(lambda: 0)
def add_set(row):
      categories[row['CATEGORY']] += 1

#apply add_set to the house_data
house_data.apply(add_set, axis = 1);
categories

defaultdict(<function __main__.<lambda>()>,
            {'FRANKED MAIL': 25231,
             'PERSONNEL COMPENSATION': 97559,
             'TRAVEL': 177810,
             'RENT, COMMUNICATION, UTILITIES': 59560,
             'PRINTING AND REPRODUCTION': 33221,
             'OTHER SERVICES': 36402,
             'SUPPLIES AND MATERIALS': 134555,
             'EQUIPMENT': 24966,
             'TRANSPORTATION OF THINGS': 248,
             'PERSONNEL BENEFITS': 1,
             'RENT COMMUNICATION UTILITIES': 18459,
             'RENT  COMMUNICATION  UTILITIES': 92169,
             'BENEFITS TO FORMER PERSONNEL': 5})

In [56]:
replace = {
    'RENT  COMMUNICATION  UTILITIES': 'RENT, COMMUNICATION, UTILITIES',
    'RENT COMMUNICATION UTILITIES': 'RENT, COMMUNICATION, UTILITIES'
}
house_data.replace(to_replace=replace, value=None, inplace=True)

In [57]:
categories = defaultdict(lambda: 0)
def add_set(row):
      categories[row['CATEGORY']] += 1
      
house_data.apply(add_set, axis = 1)
str(categories)

"defaultdict(<function <lambda> at 0x7f8f0268a5e0>, {'FRANKED MAIL': 25231, 'PERSONNEL COMPENSATION': 97559, 'TRAVEL': 177810, 'RENT, COMMUNICATION, UTILITIES': 170188, 'PRINTING AND REPRODUCTION': 33221, 'OTHER SERVICES': 36402, 'SUPPLIES AND MATERIALS': 134555, 'EQUIPMENT': 24966, 'TRANSPORTATION OF THINGS': 248, 'PERSONNEL BENEFITS': 1, 'BENEFITS TO FORMER PERSONNEL': 5})"

In [58]:
import requests
from bs4 import BeautifulSoup
raw = requests.get("https://www.congress.gov/help/field-values/member-bioguide-ids")
soup = BeautifulSoup(raw.text, 'lxml')
table = soup.find('table')

# Since the entire thing is a formatted table, read it directly into a pandas dataframe
tabledf = pd.read_html(str(table))
tabledf = tabledf[0]
tabledf.dropna(subset = ['Member'], inplace=True)
tabledf.reset_index(drop=True, inplace=True)
members = tabledf['Member'].str.extractall("(.*), (.*) \((.*) - (.*)\)")

members.reset_index(drop=True, inplace=True)
members.rename(columns={0 : 'LASTNAME', 1: "FIRSTNAME", 2: "PARTY", 3: "STATE"}, inplace=True)
members['BIOGUIDE_ID'] = tabledf['Member ID']
members

         LASTNAME    FIRSTNAME       PARTY         STATE BIOGUIDE_ID
0          Abdnor        James  Republican  South Dakota     A000009
1     Abercrombie         Neil  Democratic        Hawaii     A000014
2        Abourezk        James  Democratic  South Dakota     A000017
3         Abraham    Ralph Lee  Republican     Louisiana     A000374
4         Abraham      Spencer  Republican      Michigan     A000355
...           ...          ...         ...           ...         ...
2422        Zinke      Ryan K.  Republican       Montana     Z000018
2423         Zion     Roger H.  Republican       Indiana     Z000010
2424     Zorinsky       Edward  Democratic      Nebraska     Z000013
2425       Zschau  Edwin V. W.  Republican    California     Z000014
2426        Zwach      John M.  Republican     Minnesota     Z000016

[2427 rows x 5 columns]

## k-means

In [59]:
import numpy as np
quarters = house_data['QUARTER'].unique()
categories = house_data['CATEGORY'].unique()

quarter = quarters[4]
hd_by_quarter = house_data[house_data['QUARTER'] == quarter]
bio_ids = hd_by_quarter['BIOGUIDE_ID'].unique()


spending_per_candidate = hd_by_quarter.groupby(['BIOGUIDE_ID','CATEGORY'])['AMOUNT'].sum()
spending_data = []
for bio_id in bio_ids:
    row = [bio_id]
    for category in categories:
        if category in spending_per_candidate[bio_id]:
            row.append(spending_per_candidate[bio_id][category])
        else:
            row.append(0)
    spending_data.append(row)
quarter_spending_df = pd.DataFrame(spending_data,columns = ["BIOGUIDE_ID"] + categories.tolist())
# quarter_spending_df = quarter_spending_df.dropna(axis='columns')
# quarter_spending_df.dropna(subset = ['BIOGUIDE_ID']))
quarter_spending_df
# spending_per_candidate.to_csv('spending_per_candidate_' + quarter + '.csv')

,BIOGUIDE_ID,FRANKED MAIL,PERSONNEL COMPENSATION,TRAVEL,"RENT, COMMUNICATION, UTILITIES",PRINTING AND REPRODUCTION,OTHER SERVICES,SUPPLIES AND MATERIALS,EQUIPMENT,TRANSPORTATION OF THINGS,PERSONNEL BENEFITS,BENEFITS TO FORMER PERSONNEL
0,A000374,1235.60,234012.50,28623.57,19171.87,964.32,6409.85,2841.01,466.20,0.00,0,0.0
1,A000370,497.72,194269.43,8839.30,24445.28,853.15,7481.98,12858.26,10834.53,0.00,0,0.0
2,A000055,1319.35,221486.67,16458.35,23422.79,4490.80,5672.16,19533.53,1685.25,0.00,0,0.0
3,A000371,227.32,236002.41,22340.77,34242.45,6511.83,5580.00,27086.50,2966.79,0.00,0,0.0
4,A000372,11524.96,216703.99,11103.40,22524.60,12234.00,11540.00,12282.52,28309.61,0.00,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
492,Y000066,1590.74,239414.97,11215.94,34125.09,1520.25,11713.00,7336.26,2255.92,0.00,0,0.0
493,Y000033,134.37,237000.03,12776.28,21982.52,237.15,11250.00,13690.45,4345.74,0.00,0,0.0
494,Y000064,78.69,11202.10,3113.02,1274.01,56.88,451.82,765.72,10.70,0.00,0,0.0
495,Z000017,12589.16,261323.87,11695.71,25278.58,13928.18,10695.00,5990.83,1172.22,254.32,0,0.0
496,Z000018,377.82,202460.37,9364.52,22236.69,718.72,10580.50,4080.95,13519.57,0.00,0,0.0

In [69]:
# Left join the spending data with the candidate data
spending_member_info = quarter_spending_df.merge(members, on="BIOGUIDE_ID")

In [92]:
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
# train, test = train_test_split(spending_member_info[categories], test_size=0.2)
kmeans_model = KMeans(n_clusters=50, init='k-means++', n_init=10, max_iter=300, tol=0.0001, verbose=0, random_state=None, copy_x=True, algorithm='auto')
kmeans_trained = kmeans_model.fit(spending_member_info[categories])
# kmeans_trained.cluster_centers_

clusters = kmeans_trained.predict(spending_member_info[categories])
for i in list(set(clusters)):
# i=0
    print("Cluster:",i)
    print(spending_member_info[["STATE","BIOGUIDE_ID","LASTNAME"]][clusters==i].to_string())
    print("")
# print(spending_member_info[["PARTY","STATE"]][clusters==i].groupby("STATE").count())

Cluster: 0
         STATE BIOGUIDE_ID          LASTNAME
18  California     B000287           Becerra
22    Virginia     B001292  Beyer, Donald S.

Cluster: 1
          STATE BIOGUIDE_ID     LASTNAME
8      Nebraska     A000373      Ashford
124    Illinois     D000622    Duckworth
147   Louisiana     F000456      Fleming
149    Virginia     F000445       Forbes
163  New Jersey     G000548      Garrett
204       Texas     H000636     Hinojosa
207  California     H001034        Honda
217    New York     I000057       Israel
247     Arizona     K000368  Kirkpatrick
297  Washington     M000404    McDermott
310     Florida     M000689         Mica
312     Florida     M001144       Miller
371   Wisconsin     R000587       Ribble

Cluster: 2
         STATE BIOGUIDE_ID       LASTNAME
37       Texas     B000755          Brady
156       Ohio     F000455          Fudge
166      Texas     G000552        Gohmert
202   Arkansas     H001072           Hill
245       Iowa     K000362           King
335      Texas     O000170       O'Rourke
377  Tennessee     R000582            Roe
393   Maryland     R000576  Ruppersberger
466     Oregon     W000791         Walden

Cluster: 3
              STATE BIOGUIDE_ID     LASTNAME
90       California     C001059        Costa
107        Colorado     D000197      DeGette
150        Nebraska     F000449  Fortenberry
195      Washington     H001064         Heck
235   Massachusetts     K000375      Keating
361  North Carolina     P000523        Price
376         Alabama     R000591         Roby

Cluster: 4
              STATE BIOGUIDE_ID           LASTNAME
10         Nebraska     B001298              Bacon
11          Indiana     B001299              Banks
26             Utah     B001250             Bishop
140        New York     F000464               Faso
142         Georgia     F000465  Ferguson, A. Drew
159       Wisconsin     G000579          Gallagher
230  North Carolina     J000255   Jones, Walter B.
231            Ohio     J000289             Jordan
284      New Jersey     M001193          MacArthur
334         Arizona     O000171         O'Halleran
432         Florida     S001200               Soto
449        Colorado     T000470             Tipton
495         Montana     Z000018              Zinke

Cluster: 5
            STATE BIOGUIDE_ID       LASTNAME
14     California     B001300       Barragan
30           Iowa     B001294           Blum
43       Maryland     B001304          Brown
89     California     C001110         Correa
137  Pennsylvania     E000296          Evans
158       Florida     G000578          Gaetz
167         Texas     G000581       Gonzalez
201     Louisiana     H001077        Higgins
206       Indiana     H001074  Hollingsworth
266     Minnesota     L000587          Lewis
298      Virginia     M001200       McEachin
385        Nevada     R000608          Rosen
396       Florida     R000609     Rutherford
472    California     W000187         Waters
479       Georgia     W000796   Westmoreland

Cluster: 6
            STATE BIOGUIDE_ID LASTNAME
236  Pennsylvania     K000376    Kelly

Cluster: 7
             STATE BIOGUIDE_ID            LASTNAME
103       Illinois     D000096               Davis
119       Michigan     D000624             Dingell
134     California     E000215               Eshoo
194        Florida     H000324            Hastings
238  Massachusetts     K000379  Kennedy, Joseph P.
317  Massachusetts     M001196             Moulton
394       Illinois     R000515                Rush
412        Georgia     S001157               Scott
445   Pennsylvania     T000467            Thompson

Cluster: 8
              STATE BIOGUIDE_ID  LASTNAME
25         Michigan     B001293    Bishop
54       California     C000059   Calvert
126  South Carolina     D000615    Duncan
160         Arizona     G000574   Gallego
183       Wisconsin     G000576  Grothman
226         Georgia     J000288   Johnson
269        Illinois     L000563  Lipinski
288    Pennsylvania     M001179    Marino
319  South Carolina     M001182  Mulvaney
342       Minnesota     P000594   Paulsen
357           Maine     P000611  Poliquin
378        Kentucky     R000395    Rogers
411         Georgia     S001189     Scott
429        Missouri     S001195     Smith
477            Ohio     W000815  Wenstrup

Cluster: 9
             STATE BIOGUIDE_ID            LASTNAME
7            Texas     A000375           Arrington
21        Michigan     B001301             Bergman
68         Wyoming     C001109              Cheney
80        New York     C001092             Collins
96         Florida     C001111               Crist
144   Pennsylvania     F000466         Fitzpatrick
162       Virginia     G000580  Garrett, Thomas A.
171     New Jersey     G000583          Gottheimer
250       Illinois     K000391      Krishnamoorthi
263        Florida     L000586          Lawson, Al
291        Florida     M001199                Mast
315  West Virginia     M001195              Mooney
321        Florida     M001202              Murphy
339        Alabama     P000609              Palmer
359         Kansas     P000602              Pompeo
408       Illinois     S001190           Schneider
431   Pennsylvania     S001199             Smucker
436           Ohio     S001187             Stivers
438       New York     S001201              Suozzi
442       Virginia     T000477              Taylor
443       New York     T000478              Tenney
475        Florida     W000806             Webster

Cluster: 10
             STATE BIOGUIDE_ID        LASTNAME
97        New York     C001038         Crowley
101        Florida     C001107         Curbelo
108       Maryland     D000620         Delaney
113   Pennsylvania     D000604            Dent
146      Tennessee     F000459     Fleischmann
177        Georgia     G000560          Graves
192       Maryland     H001052          Harris
220     Washington     J000298         Jayapal
251  New Hampshire     K000382          Kuster
308       New York     M001188            Meng
316      Wisconsin     M001160           Moore
346       Colorado     P000593      Perlmutter
413       Virginia     S000185           Scott
416          Texas     S000250        Sessions
473     New Jersey     W000822  Watson Coleman
484       Virginia     W000804         Wittman
486       Arkansas     W000809          Womack

Cluster: 11
              STATE BIOGUIDE_ID  LASTNAME
77         Colorado     C001077   Coffman
78        Tennessee     C001068     Cohen
83         Virginia     C001105  Comstock
242      Washington     K000381    Kilmer
255      California     L000578   LaMalfa
423         Arizona     S001191    Sinema
460           Texas     V000131    Veasey
483  South Carolina     W000795    Wilson

Cluster: 12
           STATE BIOGUIDE_ID   LASTNAME
350  Puerto Rico     P000596  Pierluisi

Cluster: 13
             STATE BIOGUIDE_ID                 LASTNAME
13        Kentucky     B001282                     Barr
180          Texas     G000410                    Green
264     California     L000551                      Lee
301  West Virginia     M001180                 McKinley
327     Washington     N000189                 Newhouse
360        Florida     P000599                    Posey
414      Wisconsin     S000244  Sensenbrenner, F. James

Cluster: 14
            STATE BIOGUIDE_ID              LASTNAME
19       Michigan     B001271              Benishek
35      Louisiana     B001255  Boustany, Charles W.
44        Florida     B000911                 Brown
55     California     C001036                 Capps
95        Florida     C001045              Crenshaw
121      Illinois     D000613                  Dold
139    California     F000030                  Farr
141  Pennsylvania     F000043                Fattah
143     Tennessee     F000458               Fincher
165      New York     G000564                Gibson
173       Florida     G000575                Graham
187    California     H001063                  Hahn
190        Nevada     H001070                 Hardy
210        Kansas     H001057             Huelskamp
216      Virginia     H001060                  Hurt
229       Florida     J000296                 Jolly
248     Minnesota     K000363                 Kline
282       Wyoming     L000571                Lummis
320       Florida     M001191                Murphy
326         Texas     N000182            Neugebauer
332       Florida     N000185                Nugent
353  Pennsylvania     P000373                 Pitts
365      New York     R000053                Rangel
375      Virginia     R000589                Rigell
402    California     S000030               Sanchez
437       Indiana     S001188              Stutzman
440        Hawaii     T000473                 Takai
458      Maryland     V000128            Van Hollen
480      Kentucky     W000413             Whitfield
485      Virginia     W000672                  Wolf
493       Indiana     Y000064                 Young

Cluster: 15
            STATE BIOGUIDE_ID           LASTNAME
32         Oregon     B001278           Bonamici
38   Pennsylvania     B001227              Brady
40       Oklahoma     B001283        Bridenstine
109   Connecticut     D000216            DeLauro
114       Florida     D000621           DeSantis
117       Florida     D000610             Deutch
130     Minnesota     E000288            Ellison
154       Arizona     F000448             Franks
168   Puerto Rico     G000582     González-Colón
200      New York     H001038            Higgins
203   Connecticut     H001047              Himes
213      Illinois     H001059           Hultgren
237   Mississippi     K000388              Kelly
271          Iowa     L000565           Loebsack
273      Missouri     L000576               Long
280    New Mexico     L000580      Lujan Grisham
285      New York     M000087            Maloney
379       Alabama     R000575             Rogers
406      Illinois     S001145         Schakowsky
420      Illinois     S000364            Shimkus
424    New Jersey     S001165              Sires
446    California     T000460           Thompson
464      Missouri     W000812             Wagner
471       Florida     W000797  Wasserman Schultz
494      New York     Z000017             Zeldin

Cluster: 16
              STATE BIOGUIDE_ID         LASTNAME
59         Delaware     C001083  Carney, John C.
73          Florida     C001102          Clawson
131  North Carolina     E000291          Ellmers
145    Pennsylvania     F000451      Fitzpatrick
178         Florida     G000556          Grayson
184   New Hampshire     G000570           Guinta
189        New York     H001051            Hanna
196          Nevada     H001055             Heck

Cluster: 17
              STATE BIOGUIDE_ID       LASTNAME
5          Michigan     A000367          Amash
45       California     B001285       Brownley
50            Texas     B001248        Burgess
63     Pennsylvania     C001090     Cartwright
71    Massachusetts     C001101          Clark
105      California     D000598          Davis
106          Oregon     D000191        DeFazio
123    Pennsylvania     D000482          Doyle
136     Connecticut     E000293           Esty
174           Texas     G000377        Granger
188          Hawaii     H001050       Hanabusa
197           Texas     H001036     Hensarling
215           Texas     H001073           Hurd
243       Wisconsin     K000188           Kind
270      New Jersey     L000554       LoBiondo
276      California     L000579      Lowenthal
279        Missouri     L000569    Luetkemeyer
303      California     M001166       McNerney
305  North Carolina     M001187        Meadows
324      California     N000179     Napolitano
328    South Dakota     N000184           Noem
348      California     P000608         Peters
349       Minnesota     P000258       Peterson
363        Illinois     Q000023        Quigley
390      California     R000486  Roybal-Allard
395        Oklahoma     R000604        Russell
398            Ohio     R000577           Ryan
403  South Carolina     S000051        Sanford
427        Nebraska     S001172          Smith
441      California     T000472         Takano
455            Ohio     T000463         Turner
488        Kentucky     Y000062        Yarmuth
492          Alaska     Y000033          Young

Cluster: 18
             STATE BIOGUIDE_ID  LASTNAME
222  West Virginia     J000297   Jenkins
244       New York     K000210      King
362        Georgia     P000591     Price
383        Florida     R000583    Rooney
417        Alabama     S001185    Sewell
444    Mississippi     T000193  Thompson
487        Georgia     W000810   Woodall
490        Florida     Y000065      Yoho

Cluster: 19
          STATE BIOGUIDE_ID   LASTNAME
133    New York     E000179      Engel
161  California     G000559  Garamendi

Cluster: 20
          STATE BIOGUIDE_ID  LASTNAME
46      Florida     B001260  Buchanan
218  California     I000056      Issa
221    New York     J000294  Jeffries

Cluster: 21
          STATE BIOGUIDE_ID    LASTNAME
4       Georgia     A000372       Allen
259  Washington     L000560      Larsen
274     Georgia     L000583  Loudermilk
287       Texas     M001158    Marchant
314    Michigan     M001194   Moolenaar
318    Oklahoma     M001190      Mullin
336       Texas     O000168       Olson
387     Florida     R000593        Ross

Cluster: 22
          STATE BIOGUIDE_ID   LASTNAME
9         Texas     B001291      Babin
28    Tennessee     B001273      Black
47     Colorado     B001297       Buck
58   California     C001097   Cárdenas
112  California     D000612     Denham
157      Hawaii     G000571    Gabbard
246    Illinois     K000378  Kinzinger
253       Idaho     L000573   Labrador
367       Texas     R000601  Ratcliffe
368    New York     R000585       Reed
439  California     S001193   Swalwell
461       Texas     V000132       Vela
463     Indiana     V000108  Visclosky

Cluster: 23
           STATE BIOGUIDE_ID    LASTNAME
31        Oregon     B000574  Blumenauer
92   Connecticut     C001069    Courtney
261         Ohio     L000566       Latta

Cluster: 24
              STATE BIOGUIDE_ID  LASTNAME
57       California     C001112  Carbajal
87       California     C001094      Cook
104        Illinois     D000619     Davis
175       Louisiana     G000577    Graves
209  North Carolina     H001067    Hudson
228           Texas     J000174   Johnson
275            Utah     L000584      Love
322    Pennsylvania     M001151    Murphy
340      California     P000613   Panetta
428      New Jersey     S000522     Smith
448            Ohio     T000462    Tiberi
450          Nevada     T000468     Titus
453        Michigan     T000475     Trott
468         Indiana     W000813  Walorski

Cluster: 25
                    STATE BIOGUIDE_ID       LASTNAME
12           Pennsylvania     B001269       Barletta
36           Pennsylvania     B001296          Boyle
53                Alabama     B001289          Byrne
60                Indiana     C001072         Carson
74               Missouri     C001049           Clay
86               Michigan     C000714  Conyers, John
100              Maryland     C000984       Cummings
169              Virginia     G000289      Goodlatte
211            California     H001068        Huffman
258          Rhode Island     L000559       Langevin
262              Michigan     L000581       Lawrence
268            California     L000582           Lieu
283         Massachusetts     L000562          Lynch
307              New York     M001137          Meeks
331  District of Columbia     N000147         Norton
404              Maryland     S001168       Sarbanes
433            California     S001175         Speier
451              New York     T000469          Tonko
476               Vermont     W000800          Welch
482               Florida     W000808         Wilson
491                  Iowa     Y000066          Young

Cluster: 26
          STATE BIOGUIDE_ID  LASTNAME
33         Guam     B001245  Bordallo
170     Arizona     G000565     Gosar
344  New Mexico     P000588    Pearce

Cluster: 27
          STATE BIOGUIDE_ID         LASTNAME
102        Ohio     D000626         Davidson
127   Tennessee     D000533  Duncan, John J.
338  New Jersey     P000034   Pallone, Frank

Cluster: 28
                        STATE BIOGUIDE_ID     LASTNAME
219                     Texas     J000032  Jackson Lee
333                California     N000181        Nunes
399  Northern Mariana Islands     S001177       Sablan
457                California     V000129      Valadao
469                California     W000820      Walters

Cluster: 29
              STATE BIOGUIDE_ID        LASTNAME
39         Virginia     B001290            Brat
66             Ohio     C000266          Chabot
148           Texas     F000461          Flores
176        Missouri     G000546          Graves
205  North Carolina     H001065         Holding
330      New Jersey     N000188        Norcross
341      New Jersey     P000096  Pascrell, Bill
352  North Carolina     P000606       Pittenger
392      California     R000599            Ruiz
425        New York     S000480       Slaughter

Cluster: 30
              STATE BIOGUIDE_ID          LASTNAME
81          Georgia     C001093           Collins
93     North Dakota     C001096            Cramer
152  North Carolina     F000450              Foxx
225           Texas     J000126           Johnson
254        Illinois     L000585            LaHood
257      New Jersey     L000567             Lance
306    Pennsylvania     M001181            Meehan
343      New Jersey     P000604  Payne, Donald M.
347    Pennsylvania     P000605             Perry
391      California     R000487             Royce
405       Louisiana     S001176           Scalise
462        New York     V000081         Velazquez
489          Kansas     Y000063             Yoder

Cluster: 31
         STATE BIOGUIDE_ID LASTNAME
125  Wisconsin     D000614    Duffy

Cluster: 32
            STATE BIOGUIDE_ID     LASTNAME
6          Nevada     A000369       Amodei
34       Illinois     B001295         Bost
75       Missouri     C001061      Cleaver
110    Washington     D000617      DelBene
118       Florida     D000600  Diaz-Balart
120         Texas     D000399      Doggett
179         Texas     G000553        Green
181      Virginia     G000568     Griffith
191   Mississippi     H001045       Harper
193      Missouri     H001053     Hartzler
232          Ohio     J000295        Joyce
234      New York     K000386        Katko
277      New York     L000480        Lowey
293    California     M001165     McCarthy
294         Texas     M001157       McCaul
356         Texas     P000592          Poe
374     Louisiana     R000588     Richmond
401    California     S001156      Sánchez
421  Pennsylvania     S001154      Shuster
430         Texas     S000583        Smith
452    California     T000474       Torres
465      Michigan     W000798      Walberg

Cluster: 33
        STATE BIOGUIDE_ID LASTNAME
72   New York     C001067   Clarke
265  Michigan     L000263    Levin
290  Kentucky     M001184   Massie
370      Ohio     R000586  Renacci

Cluster: 34
           STATE BIOGUIDE_ID            LASTNAME
27       Georgia     B000490  Bishop, Sanford D.
42       Indiana     B001284              Brooks
67          Utah     C001076            Chaffetz
98         Texas     C001063             Cuellar
115   California     D000623          DeSaulnier
138        Texas     F000460          Farenthold
233         Ohio     K000009              Kaptur
337  Mississippi     P000601             Palazzo

Cluster: 35
              STATE BIOGUIDE_ID       LASTNAME
82         Kentucky     C001108          Comer
111         Florida     D000627        Demings
155      New Jersey     F000372  Frelinghuysen
289          Kansas     M001198       Marshall
354  Virgin Islands     P000610       Plaskett
388    Pennsylvania     R000598        Rothfus

Cluster: 36

In [79]:
[clusters==1]

[array([False, False, False, False, False, False, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False,  True, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
        False, False, False, False, False, False, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False,  True, False, False, False,  True, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False,  True, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False,  True, False, False,  True, False,
        False, False, False,  True, False,  True, False, False, False,
        False, False, False, False,  True, False,  True, False,  True,
        False,  True, False,  True, False,  True, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False,  True, False,  True, False, False, False, False, False,
        False, False,  True, False, False, False, False,  True, False,
        False, False, False, False,  True, False, False,  True, False,
         True,  True, False, False, False, False, False,  True, False,
        False, False, False, False, False, False,  True, False, False,
         True, False, False,  True, False, False, False, False, False,
         True,  True, False, False, False, False, False, False, False,
        False, False, False, False,  True, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False,  True,  True, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False,  True, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
         True, False, False, False, False, False, False, False, False,
        False, False, False, False,  True,  True,  True, False, False,
        False, False, False, False, False,  True, False, False, False,
        False, False,  True, False, False, False, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
        False, False,  True, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False, False,
        False, False,  True, False, False, False,  True, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False,  True, False,  True, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False,  True, False, False, False, False,  True,
        False, False, False, False, False, False, False,  True, False,
        False])]

In [84]:
print(spending_member_info[["PARTY","LASTNAME","STATE"]][clusters==6].to_string())

          PARTY LASTNAME         STATE
236  Republican    Kelly  Pennsylvania

In [80]:
len(spending_member_info[["PARTY","LASTNAME"]][clusters==1])

56