## Motivation

Every two years, every member of the United States House of Representatives is up for election. After being elected, members of the House are given a set budget from the legislature itself to hire staff, buy office equipment, and defray other costs of legislating and addressing constituent concerns. While each office gets the same amount of money from Congress to spend on these purposes, congressional offices have discretion over how that allowance is actually spent, and we would like to see whether some spending patterns are associated with higher political success.

# Part 1: Getting/Formatting the Data

For this project, we decided to use the [House Office Expenditure Data](https://www.propublica.org/datastore/dataset/house-office-expenditures) from ProPublica as it contains well formatted data about house expenditures from 2009 to 2018. The main downside of this dataset is that it is missing data from the most recent midterm election, but we still have almost 10 years of data to work with.

To programatically access the datasets we are working with, we have included copies here [repository](https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/).

In [2]:
import pandas as pd
# just finna test with one of the files to see what happens
frames = []
# #manually add stuff for 2009 since only Q3 and Q4 are present
# frames.append(pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2009Q3-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))
# frames.append(pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2009Q4-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))


#automate the dataframes from 2010 to 2017
for i in range(2015, 2019):
    for j in range(1, 5):
        df = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv', thousands=',')
        df.dropna(subset = ['BIOGUIDE_ID'], inplace=True)
        df["QUARTER"] = str(i) + 'Q' + str(j)#df.apply(lambda row: str(i) + 'Q' + str(j))
        df["YEAR"] = i
        frames.append(df)

house_data = pd.concat(frames)
house_data

/tmp/ipykernel_27488/1279218428.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv', thousands=',')

,BIOGUIDE_ID,OFFICE,QUARTER,CATEGORY,DATE,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,...,TRANSCODELONG,RECORDID,RECIP (orig.),PROGRAM,SORT SEQUENCE,SORT SUBTOTAL DESCRIPTION,TRANSACTION DATE,DATA SOURCE,DOCUMENT,AMOUNT
5565,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,01-31,NaN,01/20/15,01/31/15,FRANKED MAIL,-15.15,...,General ledger,FLG0046204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5566,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,02-27,UNITED STATES POSTAL SERVICE,01/03/15,01/31/15,FRANKED MAIL,35.89,...,Accounts payable,00778764,UNITED STATES POSTAL SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5567,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,02-28,NaN,02/20/15,02/28/15,FRANKED MAIL,-21.30,...,General ledger,FLG0046943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5568,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,03-26,UNITED STATES POSTAL SERVICE,02/01/15,02/28/15,FRANKED MAIL,222.30,...,Accounts payable,00784273,UNITED STATES POSTAL SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5569,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,03-31,NaN,03/20/15,03/31/15,FRANKED MAIL,-67.55,...,General ledger,FLG0047807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86322,Z000017,2016 HON. LEE M. ZELDIN,2018Q4,PRINTING AND REPRODUCTION,,,,,OFFICE TOTALS:,291.21,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,GRAND TOTAL FOR ORGANIZATION,NaN,NaN,NaN,NaN,NaN
86323,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,2018-10-18,CITI PCARD-MEDALSOFAMERICA/PATRIO,2015-08-29,2015-09-28,OFFICE SUPPLIES (OUTSIDE),52.40,...,NaN,1028651,NaN,OFFICIAL EXPENSES OF MEMBERS,DETAIL,NaN,NaN,NaN,NaN,NaN
86324,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,,,,,SUPPLIES AND MATERIALS TOTALS:,52.40,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,SUBTOTAL,NaN,NaN,NaN,NaN,NaN
86325,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,,,,,OFFICIAL EXPENSES OF MEMBERS TOTALS:,52.40,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,SUBTOTAL,NaN,NaN,NaN,NaN,NaN
86326,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,,,,,OFFICE TOTALS:,52.40,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,GRAND TOTAL FOR ORGANIZATION,NaN,NaN,NaN,NaN,NaN

[election data](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2)

In [24]:
election_data = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/1976-2020-house.csv')

# filter out the years before 2009 and after 2018
election_data = election_data[election_data['year'] >= 2009]
election_data = election_data[election_data['year'] <= 2018]

#split candidate names into first and last
election_data['first_name'] = election_data['candidate'].apply(lambda x: x.split(' ')[0])
election_data['last_name'] = election_data['candidate'].apply(lambda x: x.split(' ')[-1])

election_data

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,...,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket,first_name,last_name
22553,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,...,CONSTITUTION,False,TOTAL,26357,156281,False,20220331,False,DAVID,WALTER
22554,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,...,REPUBLICAN,False,TOTAL,129063,156281,False,20220331,False,JO,BONNER
22555,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,...,NaN,True,TOTAL,861,156281,False,20220331,False,WRITEIN,WRITEIN
22556,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,...,DEMOCRAT,False,TOTAL,106865,219028,False,20220331,False,BOBBY,BRIGHT
22557,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,...,REPUBLICAN,False,TOTAL,111645,219028,False,20220331,False,MARTHA,ROBY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29631,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,...,CONSTITUTION,False,TOTAL,6070,201245,False,20220331,False,DANIEL,CUMMINGS
29632,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,...,DEMOCRAT,False,TOTAL,59903,201245,False,20220331,False,GREG,HUNTER
29633,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,...,REPUBLICAN,False,TOTAL,127963,201245,False,20220331,False,LIZ,CHENEY
29634,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,...,LIBERTARIAN,False,TOTAL,6918,201245,False,20220331,False,RICHARD,BRUBAKER
29635,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,...,NaN,True,TOTAL,391,201245,False,20220331,False,WRITEIN,WRITEIN

Try to figure out what categories we are working with and how these categories should be group into broader categories

In [4]:
from collections import defaultdict
categories = defaultdict(lambda: 0)
def add_set(row):
      categories[row['CATEGORY']] += 1

#apply add_set to the house_data
house_data.apply(add_set, axis = 1);
categories

defaultdict(<function __main__.<lambda>()>,
            {'FRANKED MAIL': 41809,
             'PERSONNEL COMPENSATION': 159047,
             'TRAVEL': 292973,
             'RENT, COMMUNICATION, UTILITIES': 139961,
             'PRINTING AND REPRODUCTION': 55142,
             'OTHER SERVICES': 61435,
             'SUPPLIES AND MATERIALS': 227999,
             'EQUIPMENT': 41185,
             'TRANSPORTATION OF THINGS': 355,
             'PERSONNEL BENEFITS': 8,
             'RENT COMMUNICATION UTILITIES': 18459,
             'RENT  COMMUNICATION  UTILITIES': 129425,
             'BENEFITS TO FORMER PERSONNEL': 5,
             nan: 84545})

In [5]:
replace = {
    'RENT  COMMUNICATION  UTILITIES': 'RENT, COMMUNICATION, UTILITIES',
    'RENT COMMUNICATION UTILITIES': 'RENT, COMMUNICATION, UTILITIES'
}
house_data.replace(to_replace=replace, value=None, inplace=True)
categories = defaultdict(lambda: 0)
def add_set(row):
      categories[row['CATEGORY']] += 1
      
house_data.apply(add_set, axis = 1);
categories

defaultdict(<function __main__.<lambda>()>,
            {'FRANKED MAIL': 41809,
             'PERSONNEL COMPENSATION': 159047,
             'TRAVEL': 292973,
             'RENT, COMMUNICATION, UTILITIES': 139961,
             'PRINTING AND REPRODUCTION': 55142,
             'OTHER SERVICES': 61435,
             'SUPPLIES AND MATERIALS': 227999,
             'EQUIPMENT': 41185,
             'TRANSPORTATION OF THINGS': 355,
             'PERSONNEL BENEFITS': 8,
             'RENT COMMUNICATION UTILITIES': 18459,
             'RENT  COMMUNICATION  UTILITIES': 129425,
             'BENEFITS TO FORMER PERSONNEL': 5,
             nan: 84545})

In [6]:
import numpy as np
quarters = house_data['QUARTER'].unique()
categories = house_data['CATEGORY'].unique()

quarter = quarters[0]
hd_by_quarter = house_data[house_data['QUARTER'] == quarter]
bio_ids = hd_by_quarter['BIOGUIDE_ID'].unique()


spending_per_candidate = hd_by_quarter.groupby(['BIOGUIDE_ID','CATEGORY'])['AMOUNT'].sum()
spending_data = []
for bio_id in bio_ids:
    row = [bio_id]
    for category in categories:
        if category in spending_per_candidate[bio_id]:
            row.append(spending_per_candidate[bio_id][category])
        else:
            row.append(np.nan)
    spending_data.append(row)
quarter_spending_df = pd.DataFrame(spending_data,columns = ["BIOGUIDE_ID"] + categories.tolist())
quarter_spending_df
# spending_per_candidate.to_csv('spending_per_candidate_' + quarter + '.csv')

,BIOGUIDE_ID,FRANKED MAIL,PERSONNEL COMPENSATION,TRAVEL,"RENT, COMMUNICATION, UTILITIES",PRINTING AND REPRODUCTION,OTHER SERVICES,SUPPLIES AND MATERIALS,EQUIPMENT,TRANSPORTATION OF THINGS,PERSONNEL BENEFITS,RENT COMMUNICATION UTILITIES,RENT COMMUNICATION UTILITIES,BENEFITS TO FORMER PERSONNEL,NaN
0,A000374,154.19,165171.51,23318.33,20132.91,2623.14,8379.35,21927.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A000370,94.91,169131.98,8734.71,34509.98,6993.02,6184.00,11458.44,1284.70,NaN,NaN,NaN,NaN,NaN,NaN
2,A000055,1455.81,233308.09,13219.96,25663.84,2736.66,5686.53,19519.09,18743.53,NaN,NaN,NaN,NaN,NaN,NaN
3,A000371,-108.11,133936.12,19023.61,16389.06,1752.20,7728.26,11926.93,1979.40,NaN,NaN,NaN,NaN,NaN,NaN
4,A000372,599.20,184178.06,14749.44,10592.15,2420.91,9087.25,13015.72,437.10,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Y000066,869.14,157710.79,6574.15,23756.48,2674.30,11106.78,4634.97,1372.37,NaN,NaN,NaN,NaN,NaN,NaN
502,Y000033,645.22,255064.41,16005.45,23820.85,424.59,11290.00,10082.29,180.89,NaN,NaN,NaN,NaN,NaN,NaN
503,Y000064,1425.58,233500.61,11762.09,18076.64,1714.11,7865.47,4676.80,11481.00,NaN,NaN,NaN,NaN,NaN,NaN
504,Z000017,2.85,208474.87,NaN,16145.23,162.40,21807.00,3331.53,813.31,NaN,NaN,NaN,NaN,NaN,NaN
505,Z000018,-27.57,183531.15,15864.42,13808.45,1495.43,6317.66,6236.12,747.71,NaN,NaN,NaN,NaN,NaN,NaN

## Predicting Election Results

We can see if there is some correlation between the proportions that senators spend on each category and whether or not they get re-elected. We can possibly use this to make a predictor for whether or not a person will get reelected.

To make a regression of this data, I will need to have a column for each type of expenditure. I will do this by summing up each category of expense by YEAR and BUIOGUIDE_ID.

# THIS BLOCK IS DUPLICATE FROM ARJUN BRANCH

In [28]:
import requests
from bs4 import BeautifulSoup
raw = requests.get("https://www.congress.gov/help/field-values/member-bioguide-ids")
soup = BeautifulSoup(raw.text, 'lxml')
table = soup.find('table')

# Since the entire thing is a formatted table, read it directly into a pandas dataframe
tabledf = pd.read_html(str(table))
tabledf = tabledf[0]
tabledf.dropna(subset = ['Member'], inplace=True)
tabledf.reset_index(drop=True, inplace=True)
members = tabledf['Member'].str.extractall("(.*), (.*) \((.*) - (.*)\)")

members.reset_index(drop=True, inplace=True)
members.rename(columns={0 : 'LASTNAME', 1: "FIRSTNAME", 2: "PARTY", 3: "STATE"}, inplace=True)
members['BIOGUIDE_ID'] = tabledf['Member ID']
members['LASTNAME'] = members['LASTNAME'].apply(lambda x: x.upper())
members['FIRSTNAME'] = members['FIRSTNAME'].apply(lambda x: x.split(' ')[0].upper())
members

         LASTNAME FIRSTNAME       PARTY         STATE BIOGUIDE_ID
0          ABDNOR     JAMES  Republican  South Dakota     A000009
1     ABERCROMBIE      NEIL  Democratic        Hawaii     A000014
2        ABOUREZK     JAMES  Democratic  South Dakota     A000017
3         ABRAHAM     RALPH  Republican     Louisiana     A000374
4         ABRAHAM   SPENCER  Republican      Michigan     A000355
...           ...       ...         ...           ...         ...
2422        ZINKE      RYAN  Republican       Montana     Z000018
2423         ZION     ROGER  Republican       Indiana     Z000010
2424     ZORINSKY    EDWARD  Democratic      Nebraska     Z000013
2425       ZSCHAU     EDWIN  Republican    California     Z000014
2426        ZWACH      JOHN  Republican     Minnesota     Z000016

[2427 rows x 5 columns]

In [7]:
years = house_data['YEAR'].unique()
categories = house_data['CATEGORY'].unique()

year = years[0]



spending_per_candidate = house_data.groupby(['YEAR', 'BIOGUIDE_ID','CATEGORY'])['AMOUNT'].sum()

spending_data = []
for year in years:
    for bio_id in bio_ids:
        # set the row to be the bio_id and year
        if bio_id in spending_per_candidate[year]:
            row = [bio_id, year]
            for category in categories:
                if category in spending_per_candidate[year][bio_id]:
                    row.append(spending_per_candidate[year][bio_id][category])
                else:
                    row.append(np.nan)
            spending_data.append(row)

year_spending_df = pd.DataFrame(spending_data,columns = ["BIOGUIDE_ID", "YEAR"] + categories.tolist())

# replace the NaNs with 0
year_spending_df.fillna(0, inplace=True)
year_spending_df

# combine totals for years into pairs of two

,BIOGUIDE_ID,YEAR,FRANKED MAIL,PERSONNEL COMPENSATION,TRAVEL,"RENT, COMMUNICATION, UTILITIES",PRINTING AND REPRODUCTION,OTHER SERVICES,SUPPLIES AND MATERIALS,EQUIPMENT,TRANSPORTATION OF THINGS,PERSONNEL BENEFITS,RENT COMMUNICATION UTILITIES,RENT COMMUNICATION UTILITIES,BENEFITS TO FORMER PERSONNEL,NaN
0,A000374,2015,47342.30,838124.23,119448.98,81221.99,42381.64,37351.59,38574.56,12888.87,40.00,0.0,0.0,0.00,0.0,0.0
1,A000370,2015,15742.82,804980.56,60240.36,104481.00,29949.28,27040.57,26028.37,86724.37,0.00,0.0,0.0,0.00,0.0,0.0
2,A000055,2015,9764.00,910757.11,72235.60,93374.57,8340.59,28794.12,38245.97,35383.90,0.00,0.0,0.0,0.00,0.0,0.0
3,A000371,2015,29241.73,727250.21,64116.39,127959.03,96840.62,31022.73,39300.14,12316.56,0.00,0.0,0.0,0.00,0.0,0.0
4,A000372,2015,40044.59,838910.12,58196.76,62637.48,54869.03,48957.25,28710.84,2006.61,0.00,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1810,Y000065,2018,45589.00,1350727.62,77260.00,0.00,74791.20,83745.12,48722.86,1858767.46,0.00,0.0,0.0,168570.94,0.0,0.0
1811,Y000066,2018,52795.42,1538359.38,111500.80,0.00,44553.60,63654.00,56829.10,2091764.10,0.00,0.0,0.0,182881.44,0.0,0.0
1812,Y000033,2018,1557.96,1745761.90,217851.52,0.00,2684.42,72260.00,40343.26,2238730.54,0.00,0.0,0.0,137979.40,0.0,0.0
1813,Z000017,2018,110893.14,1507166.60,49663.32,0.00,87864.66,124853.10,106987.42,2025446.82,107.28,0.0,0.0,176797.62,0.0,0.0
1814,Z000018,2018,0.00,0.00,0.00,0.00,225.08,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0

Since house elections only happen every 2 years, I will sum up adjacent years prior to an election for the sake of this regression. For example, the data for 2017 and 2018 will be added and categorized as 2018 since those are the years after the 2016 election but (mostly) before the 2018 elections.

In [30]:
parts = []

def helper(x):
    years = house_data['YEAR'].unique()
    # add together the first two years  
    if years[0] % 2 == 1:
        start = 0
    else:
        start = 1
    #add together the first 2 columns of x
    for i in range(start, len(years), 2):
        # sum together the money amoutns for the two years
        row = x[i:i+2].sum()

        #fix bioguide id and year since those also got summed
        row['YEAR'] = int(years[i+1])
        row['BIOGUIDE_ID'] = x[0:1]["BIOGUIDE_ID"].values[0]

        # add together all the other columns and then change values to proportions
        sum = 0
        for category in categories:
            sum += row[category]

        # now calculate the proportions
        success = True
        for category in categories:
            if sum != 0:
                row[category] = row[category] / sum
            else:
                success = False
        
        # if the sum is 0, then they weren't in office for the years so they shouldn't be included
        if success:
            parts.append(row)
        
        # Now check whether or not they won the election for that year
            
year_spending_df.groupby('BIOGUIDE_ID').apply(helper)
merged_years_df = pd.DataFrame(parts)

# add party and name info
merged_years_df = merged_years_df.merge(members, on='BIOGUIDE_ID')
merged_years_df

,BIOGUIDE_ID,YEAR,FRANKED MAIL,PERSONNEL COMPENSATION,TRAVEL,"RENT, COMMUNICATION, UTILITIES",PRINTING AND REPRODUCTION,OTHER SERVICES,SUPPLIES AND MATERIALS,EQUIPMENT,TRANSPORTATION OF THINGS,PERSONNEL BENEFITS,RENT COMMUNICATION UTILITIES,RENT COMMUNICATION UTILITIES,BENEFITS TO FORMER PERSONNEL,NaN,LASTNAME,FIRSTNAME,PARTY,STATE
0,A000055,2016,0.006792,0.759666,0.062165,0.067225,0.007137,0.023548,0.036877,0.026836,0.000000e+00,0.0,0.009753,0.000000,0.0,0.0,ADERHOLT,ROBERT,Republican,Alabama
1,A000055,2018,0.003452,0.411295,0.038683,0.000000,0.003279,0.009586,0.011584,0.480641,0.000000e+00,0.0,0.000000,0.041480,0.0,0.0,ADERHOLT,ROBERT,Republican,Alabama
2,A000210,2016,0.000000,0.000000,0.000000,-1.014942,0.000000,0.104496,0.002897,1.907549,0.000000e+00,0.0,0.000000,0.000000,0.0,0.0,ANDREWS,ROBERT,Democratic,New Jersey
3,A000367,2016,0.001191,0.845177,0.027990,0.064083,0.002848,0.030233,0.011010,0.010840,0.000000e+00,0.0,0.006628,0.000000,0.0,0.0,AMASH,JUSTIN,Libertarian,Michigan
4,A000367,2018,0.000342,0.436474,0.015704,0.000000,0.001546,0.013726,0.013396,0.476682,0.000000e+00,0.0,0.000000,0.042130,0.0,0.0,AMASH,JUSTIN,Libertarian,Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,Y000066,2018,0.011930,0.383713,0.027440,0.000000,0.009136,0.021860,0.011933,0.485055,9.010225e-07,0.0,0.000000,0.048933,0.0,0.0,YOUNG,DAVID,Republican,Iowa
944,Z000017,2016,0.057046,0.734275,0.020706,0.073223,0.045088,0.040390,0.012667,0.004211,3.712580e-04,0.0,0.012022,0.000000,0.0,0.0,ZELDIN,LEE,Republican,New York
945,Z000017,2018,0.019922,0.388718,0.014518,0.000000,0.017221,0.024321,0.016703,0.472676,2.102287e-04,0.0,0.000000,0.045710,0.0,0.0,ZELDIN,LEE,Republican,New York
946,Z000018,2016,0.034226,0.725436,0.106587,0.046623,0.031469,0.025858,0.010062,0.011522,0.000000e+00,0.0,0.008217,0.000000,0.0,0.0,ZINKE,RYAN,Republican,Montana
947,Z000018,2018,0.000739,0.464566,0.024899,0.000000,0.005774,0.029243,0.343804,0.072409,0.000000e+00,0.0,0.000000,0.058566,0.0,0.0,ZINKE,RYAN,Republican,Montana

Now we need to add a column to represent whether they won or lost in that election year. If they didn't run for reelection that year, it will be NaN.

In [33]:
merged_years_df['WIN'] = [0 for i in range(len(merged_years_df))]

def add_victory(row):
    # look up the row in the election data
    thing = election_data.loc[(election_data['last_name'] == row['LASTNAME']) & (election_data['year'] == row['YEAR'])]
    # set win column to 1 if they won
    if len(thing) > 0:
        row['WIN'] = 1
    


merged_years_df.apply(add_victory, axis = 1)

merged_years_df

TypeError: 'int' object does not support item assignment