## Motivation

Every two years, every member of the United States House of Representatives is up for election. After being elected, members of the House are given a set budget from the legislature itself to hire staff, buy office equipment, and defray other costs of legislating and addressing constituent concerns. While each office gets the same amount of money from Congress to spend on these purposes, congressional offices have discretion over how that allowance is actually spent, and we would like to see whether some spending patterns are associated with higher political success.

# Part 1: Getting/Formatting the Data

For this project, we decided to use the [House Office Expenditure Data](https://www.propublica.org/datastore/dataset/house-office-expenditures) from ProPublica as it contains well formatted data about house expenditures from 2009 to 2018. The main downside of this dataset is that it is missing data from the most recent midterm election, but we still have almost 10 years of data to work with.

To programatically access the datasets we are working with, we have included copies here [repository](https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/).

In [3]:
import pandas as pd
# just finna test with one of the files to see what happens
frames = []
# #manually add stuff for 2009 since only Q3 and Q4 are present
# frames.append(pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2009Q3-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))
# frames.append(pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/2009Q4-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))


#automate the dataframes from 2010 to 2017
for i in range(2015, 2019):
    for j in range(1, 5):
        df = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv', thousands=',')
        df.dropna(subset = ['BIOGUIDE_ID'], inplace=True)
        df["QUARTER"] = str(i) + 'Q' + str(j)#df.apply(lambda row: str(i) + 'Q' + str(j))
        df["YEAR"] = i
        frames.append(df)

house_data = pd.concat(frames)
house_data

/tmp/ipykernel_24142/1279218428.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv', thousands=',')

,BIOGUIDE_ID,OFFICE,QUARTER,CATEGORY,DATE,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,...,TRANSCODELONG,RECORDID,RECIP (orig.),PROGRAM,SORT SEQUENCE,SORT SUBTOTAL DESCRIPTION,TRANSACTION DATE,DATA SOURCE,DOCUMENT,AMOUNT
5565,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,01-31,NaN,01/20/15,01/31/15,FRANKED MAIL,-15.15,...,General ledger,FLG0046204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5566,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,02-27,UNITED STATES POSTAL SERVICE,01/03/15,01/31/15,FRANKED MAIL,35.89,...,Accounts payable,00778764,UNITED STATES POSTAL SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5567,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,02-28,NaN,02/20/15,02/28/15,FRANKED MAIL,-21.30,...,General ledger,FLG0046943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5568,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,03-26,UNITED STATES POSTAL SERVICE,02/01/15,02/28/15,FRANKED MAIL,222.30,...,Accounts payable,00784273,UNITED STATES POSTAL SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5569,A000374,HON. RALPH ABRAHAM,2015Q1,FRANKED MAIL,03-31,NaN,03/20/15,03/31/15,FRANKED MAIL,-67.55,...,General ledger,FLG0047807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86322,Z000017,2016 HON. LEE M. ZELDIN,2018Q4,PRINTING AND REPRODUCTION,,,,,OFFICE TOTALS:,291.21,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,GRAND TOTAL FOR ORGANIZATION,NaN,NaN,NaN,NaN,NaN
86323,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,2018-10-18,CITI PCARD-MEDALSOFAMERICA/PATRIO,2015-08-29,2015-09-28,OFFICE SUPPLIES (OUTSIDE),52.40,...,NaN,1028651,NaN,OFFICIAL EXPENSES OF MEMBERS,DETAIL,NaN,NaN,NaN,NaN,NaN
86324,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,,,,,SUPPLIES AND MATERIALS TOTALS:,52.40,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,SUBTOTAL,NaN,NaN,NaN,NaN,NaN
86325,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,,,,,OFFICIAL EXPENSES OF MEMBERS TOTALS:,52.40,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,SUBTOTAL,NaN,NaN,NaN,NaN,NaN
86326,Z000017,2015 HON. LEE M. ZELDIN,2018Q4,SUPPLIES AND MATERIALS,,,,,OFFICE TOTALS:,52.40,...,NaN,,NaN,OFFICIAL EXPENSES OF MEMBERS,GRAND TOTAL FOR ORGANIZATION,NaN,NaN,NaN,NaN,NaN

[election data](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2)

In [4]:
election_data = pd.read_csv('https://github.com/AndrewTrackim/cmsc320-final/raw/master/house-expenditure/1976-2020-house.csv')

# filter out the years before 2009 and after 2018
election_data = election_data[election_data['year'] >= 2009]
election_data = election_data[election_data['year'] <= 2018]

election_data

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
22553,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,DAVID WALTER,CONSTITUTION,False,TOTAL,26357,156281,False,20220331,False
22554,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,JO BONNER,REPUBLICAN,False,TOTAL,129063,156281,False,20220331,False
22555,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,861,156281,False,20220331,False
22556,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,BOBBY BRIGHT,DEMOCRAT,False,TOTAL,106865,219028,False,20220331,False
22557,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,MARTHA ROBY,REPUBLICAN,False,TOTAL,111645,219028,False,20220331,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29631,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,DANIEL CLYDE CUMMINGS,CONSTITUTION,False,TOTAL,6070,201245,False,20220331,False
29632,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,GREG HUNTER,DEMOCRAT,False,TOTAL,59903,201245,False,20220331,False
29633,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,LIZ CHENEY,REPUBLICAN,False,TOTAL,127963,201245,False,20220331,False
29634,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,RICHARD BRUBAKER,LIBERTARIAN,False,TOTAL,6918,201245,False,20220331,False
29635,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,391,201245,False,20220331,False

Try to figure out what categories we are working with and how these categories should be group into broader categories

In [5]:
from collections import defaultdict
categories = defaultdict(lambda: 0)
def add_set(row):
      categories[row['CATEGORY']] += 1

#apply add_set to the house_data
house_data.apply(add_set, axis = 1);
categories

defaultdict(<function __main__.<lambda>()>,
            {'FRANKED MAIL': 41809,
             'PERSONNEL COMPENSATION': 159047,
             'TRAVEL': 292973,
             'RENT, COMMUNICATION, UTILITIES': 139961,
             'PRINTING AND REPRODUCTION': 55142,
             'OTHER SERVICES': 61435,
             'SUPPLIES AND MATERIALS': 227999,
             'EQUIPMENT': 41185,
             'TRANSPORTATION OF THINGS': 355,
             'PERSONNEL BENEFITS': 8,
             'RENT COMMUNICATION UTILITIES': 18459,
             'RENT  COMMUNICATION  UTILITIES': 129425,
             'BENEFITS TO FORMER PERSONNEL': 5,
             nan: 84545})

In [6]:
replace = {
    'RENT  COMMUNICATION  UTILITIES': 'RENT, COMMUNICATION, UTILITIES',
    'RENT COMMUNICATION UTILITIES': 'RENT, COMMUNICATION, UTILITIES'
}
house_data.replace(to_replace=replace, value=None, inplace=True)
categories = defaultdict(lambda: 0)
def add_set(row):
      categories[row['CATEGORY']] += 1
      
house_data.apply(add_set, axis = 1);
categories

defaultdict(<function __main__.<lambda>()>,
            {'FRANKED MAIL': 41809,
             'PERSONNEL COMPENSATION': 159047,
             'TRAVEL': 292973,
             'RENT, COMMUNICATION, UTILITIES': 139961,
             'PRINTING AND REPRODUCTION': 55142,
             'OTHER SERVICES': 61435,
             'SUPPLIES AND MATERIALS': 227999,
             'EQUIPMENT': 41185,
             'TRANSPORTATION OF THINGS': 355,
             'PERSONNEL BENEFITS': 8,
             'RENT COMMUNICATION UTILITIES': 18459,
             'RENT  COMMUNICATION  UTILITIES': 129425,
             'BENEFITS TO FORMER PERSONNEL': 5,
             nan: 84545})

In [7]:

hd_by_quarter = house_data.groupby('QUARTER')
hd_by_quarter.size()
hd_by_quarter.groups

{'2015Q1': [5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, 5593, 5594, 5595, 5596, 5597, 5598, 5599, 5600, 5601, 5602, 5603, 5604, 5605, 5606, 5607, 5608, 5609, 5610, 5611, 5612, 5613, 5614, 5615, 5616, 5617, 5618, 5619, 5620, 5621, 5622, 5623, 5624, 5625, 5626, 5627, 5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635, 5636, 5637, 5638, 5639, 5640, 5641, 5642, 5643, 5644, 5645, 5646, 5647, 5648, 5649, 5650, 5651, 5652, 5653, 5654, 5655, 5656, 5657, 5658, 5659, 5660, 5661, 5662, 5663, 5664, ...], '2015Q2': [4919, 4920, 4921, 4922, 4923, 4924, 4925, 4926, 4927, 4928, 4929, 4930, 4931, 4932, 4933, 4934, 4935, 4936, 4937, 4938, 4939, 4940, 4941, 4942, 4943, 4944, 4945, 4946, 4947, 4948, 4949, 4950, 4951, 4952, 4953, 4954, 4955, 4956, 4957, 4958, 4959, 4960, 4961, 4962, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973, 4974, 4975, 4976, 4977, 4978, 4979, 4980, 4981, 4982, 4983, 4984, 4985, 4986, 4987, 4988, 4989, 4990, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012, 5013, 5014, 5015, 5016, 5017, 5018, ...], '2015Q3': [5105, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5114, 5115, 5116, 5117, 5118, 5119, 5120, 5121, 5122, 5123, 5124, 5125, 5126, 5127, 5128, 5129, 5130, 5131, 5132, 5133, 5134, 5135, 5136, 5137, 5138, 5139, 5140, 5141, 5142, 5143, 5144, 5145, 5146, 5147, 5148, 5149, 5150, 5151, 5152, 5153, 5154, 5155, 5156, 5157, 5158, 5159, 5160, 5161, 5162, 5163, 5164, 5165, 5166, 5167, 5168, 5169, 5170, 5171, 5172, 5173, 5174, 5175, 5176, 5177, 5178, 5179, 5180, 5181, 5182, 5183, 5184, 5185, 5186, 5187, 5188, 5189, 5190, 5191, 5192, 5193, 5194, 5195, 5196, 5197, 5198, 5199, 5200, 5201, 5202, 5203, 5204, ...], '2015Q4': [5255, 5256, 5257, 5258, 5259, 5260, 5261, 5262, 5263, 5264, 5265, 5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5290, 5291, 5292, 5293, 5294, 5295, 5296, 5297, 5298, 5299, 5300, 5301, 5302, 5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312, 5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322, 5323, 5324, 5325, 5326, 5327, 5328, 5329, 5330, 5331, 5332, 5333, 5334, 5335, 5336, 5337, 5338, 5339, 5340, 5341, 5342, 5343, 5344, 5345, 5346, 5347, 5348, 5349, 5350, 5351, 5352, 5353, 5354, ...], '2016Q1': [5387, 5388, 5389, 5390, 5391, 5392, 5393, 5394, 5395, 5396, 5397, 5398, 5399, 5400, 5401, 5402, 5403, 5404, 5405, 5406, 5407, 5408, 5409, 5410, 5411, 5412, 5413, 5414, 5415, 5416, 5417, 5418, 5419, 5420, 5421, 5422, 5423, 5424, 5425, 5426, 5427, 5428, 5429, 5430, 5431, 5432, 5433, 5434, 5435, 5436, 5437, 5438, 5439, 5440, 5441, 5442, 5443, 5444, 5445, 5446, 5447, 5448, 5449, 5450, 5451, 5452, 5453, 5454, 5455, 5456, 5457, 5458, 5459, 5460, 5461, 5462, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5486, ...], '2016Q2': [5518, 5519, 5520, 5521, 5522, 5523, 5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534, 5535, 5536, 5537, 5538, 5539, 5540, 5541, 5542, 5543, 5544, 5545, 5546, 5547, 5548, 5549, 5550, 5551, 5552, 5553, 5554, 5555, 5556, 5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, 5593, 5594, 5595, 5596, 5597, 5598, 5599, 5600, 5601, 5602, 5603, 5604, 5605, 5606, 5607, 5608, 5609, 5610, 5611, 5612, 5613, 5614, 5615, 5616, 5617, ...], '2016Q3': [5693, 5694, 5695, 5696, 5697, 5698, 5699, 5700, 5701, 5702, 5703, 5704, 5705, 5706, 5707, 5708, 5709, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721, 5722, 5723, 5724, 5725, 5726, 5727, 5728, 5729, 5730, 5731, 5732, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741, 5742, 5743, 5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751, 5752, 5753, 5754, 5755, 5756, 5757, 5758, 5759, 5760, 5761, 5762, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781, 5782, 5783, 5784, 5785, 5786, 5787, 5788, 5789, 5790, 5791, 5792, ...], '2016Q4': [5493, 5494, 5495, 5496, 5497, 5498, 5499, 5500, 5501, 5502, 5503, 5504, 5505, 5506, 5507, 5508, 5509, 5510, 5511, 5512, 5513, 5514, 5515, 5516, 5517, 5518, 5519, 5520, 5521, 5522, 5523, 5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534, 5535, 5536, 5537, 5538, 5539, 5540, 5541, 5542, 5543, 5544, 5545, 5546, 5547, 5548, 5549, 5550, 5551, 5552, 5553, 5554, 5555, 5556, 5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, ...], '2017Q1': [5658, 5659, 5660, 5661, 5662, 5663, 5664, 5665, 5666, 5667, 5668, 5669, 5670, 5671, 5672, 5673, 5674, 5675, 5676, 5677, 5678, 5679, 5680, 5681, 5682, 5683, 5684, 5685, 5686, 5687, 5688, 5689, 5690, 5691, 5692, 5693, 5694, 5695, 5696, 5697, 5698, 5699, 5700, 5701, 5702, 5703, 5704, 5705, 5706, 5707, 5708, 5709, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721, 5722, 5723, 5724, 5725, 5726, 5727, 5728, 5729, 5730, 5731, 5732, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741, 5742, 5743, 5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751, 5752, 5753, 5754, 5755, 5756, 5757, ...], '2017Q2': [5959, 5960, 5961, 5962, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 5994, 5995, 5996, 5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6012, 6013, 6014, 6015, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035, 6036, 6037, 6038, 6039, 6040, 6041, 6042, 6043, 6044, 6045, 6046, 6047, 6048, 6049, 6050, 6051, 6052, 6053, 6054, 6055, 6056, 6057, 6058, ...], '2017Q3': [6053, 6054, 6055, 6056, 6057, 6058, 6059, 6060, 6061, 6062, 6063, 6064, 6065, 6066, 6067, 6068, 6069, 6070, 6071, 6072, 6073, 6074, 6075, 6076, 6077, 6078, 6079, 6080, 6081, 6082, 6083, 6084, 6085, 6086, 6087, 6088, 6089, 6090, 6091, 6092, 6093, 6094, 6095, 6096, 6097, 6098, 6099, 6100, 6101, 6102, 6103, 6104, 6105, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6113, 6114, 6115, 6116, 6117, 6118, 6119, 6120, 6121, 6122, 6123, 6124, 6125, 6126, 6127, 6128, 6129, 6130, 6131, 6132, 6133, 6134, 6135, 6136, 6137, 6138, 6139, 6140, 6141, 6142, 6143, 6144, 6145, 6146, 6147, 6148, 6149, 6150, 6151, 6152, ...], '2017Q4': [6165, 6166, 6167, 6168, 6169, 6170, 6171, 6172, 6173, 6174, 6175, 6176, 6177, 6178, 6179, 6180, 6181, 6182, 6183, 6184, 6185, 6186, 6187, 6188, 6189, 6190, 6191, 6192, 6193, 6194, 6195, 6196, 6197, 6198, 6199, 6200, 6201, 6202, 6203, 6204, 6205, 6206, 6207, 6208, 6209, 6210, 6211, 6212, 6213, 6214, 6215, 6216, 6217, 6218, 6219, 6220, 6221, 6222, 6223, 6224, 6225, 6226, 6227, 6228, 6229, 6230, 6231, 6232, 6233, 6234, 6235, 6236, 6237, 6238, 6239, 6240, 6241, 6242, 6243, 6244, 6245, 6246, 6247, 6248, 6249, 6250, 6251, 6252, 6253, 6254, 6255, 6256, 6257, 6258, 6259, 6260, 6261, 6262, 6263, 6264, ...], '2018Q1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...], '2018Q2': [6692, 6693, 6694, 6695, 6696, 6697, 6698, 6699, 6700, 6701, 6702, 6703, 6704, 6705, 6706, 6707, 6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718, 6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751, 6752, 6753, 6754, 6755, 6756, 6757, 6758, 6759, 6760, 6761, 6762, 6763, 6764, 6765, 6766, 6767, 6768, 6769, 6770, 6771, 6772, 6773, 6774, 6775, 6776, 6777, 6778, 6779, 6780, 6781, 6782, 6783, 6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, ...], '2018Q3': [6772, 6773, 6774, 6775, 6776, 6777, 6778, 6779, 6780, 6781, 6782, 6783, 6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, 6792, 6793, 6794, 6795, 6796, 6797, 6798, 6799, 6800, 6801, 6802, 6803, 6804, 6805, 6806, 6807, 6808, 6809, 6810, 6811, 6812, 6813, 6814, 6815, 6816, 6817, 6818, 6819, 6820, 6821, 6822, 6823, 6824, 6825, 6826, 6827, 6828, 6829, 6830, 6831, 6832, 6833, 6834, 6835, 6836, 6837, 6838, 6839, 6840, 6841, 6842, 6843, 6844, 6845, 6846, 6847, 6848, 6849, 6850, 6851, 6852, 6853, 6854, 6855, 6856, 6857, 6858, 6859, 6860, 6861, 6862, 6863, 6864, 6865, 6866, 6867, 6868, 6869, 6870, 6871, ...], '2018Q4': [7493, 7494, 7495, 7496, 7497, 7498, 7499, 7500, 7501, 7502, 7503, 7504, 7505, 7506, 7507, 7508, 7509, 7510, 7511, 7512, 7513, 7514, 7515, 7516, 7517, 7518, 7519, 7520, 7521, 7522, 7523, 7524, 7525, 7526, 7527, 7528, 7529, 7530, 7531, 7532, 7533, 7534, 7535, 7536, 7537, 7538, 7539, 7540, 7541, 7542, 7543, 7544, 7545, 7546, 7547, 7548, 7549, 7550, 7551, 7552, 7553, 7554, 7555, 7556, 7557, 7558, 7559, 7560, 7561, 7562, 7563, 7564, 7565, 7566, 7567, 7568, 7569, 7570, 7571, 7572, 7573, 7574, 7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584, 7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, ...]}

In [8]:
import numpy as np
quarters = house_data['QUARTER'].unique()
categories = house_data['CATEGORY'].unique()

quarter = quarters[0]
hd_by_quarter = house_data[house_data['QUARTER'] == quarter]
bio_ids = hd_by_quarter['BIOGUIDE_ID'].unique()


spending_per_candidate = hd_by_quarter.groupby(['BIOGUIDE_ID','CATEGORY'])['AMOUNT'].sum()
spending_data = []
for bio_id in bio_ids:
    row = [bio_id]
    for category in categories:
        if category in spending_per_candidate[bio_id]:
            row.append(spending_per_candidate[bio_id][category])
        else:
            row.append(np.nan)
    spending_data.append(row)
quarter_spending_df = pd.DataFrame(spending_data,columns = ["BIOGUIDE_ID"] + categories.tolist())
quarter_spending_df
# spending_per_candidate.to_csv('spending_per_candidate_' + quarter + '.csv')

,BIOGUIDE_ID,FRANKED MAIL,PERSONNEL COMPENSATION,TRAVEL,"RENT, COMMUNICATION, UTILITIES",PRINTING AND REPRODUCTION,OTHER SERVICES,SUPPLIES AND MATERIALS,EQUIPMENT,TRANSPORTATION OF THINGS,PERSONNEL BENEFITS,RENT COMMUNICATION UTILITIES,RENT COMMUNICATION UTILITIES,BENEFITS TO FORMER PERSONNEL,NaN
0,A000374,154.19,165171.51,23318.33,20132.91,2623.14,8379.35,21927.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A000370,94.91,169131.98,8734.71,34509.98,6993.02,6184.00,11458.44,1284.70,NaN,NaN,NaN,NaN,NaN,NaN
2,A000055,1455.81,233308.09,13219.96,25663.84,2736.66,5686.53,19519.09,18743.53,NaN,NaN,NaN,NaN,NaN,NaN
3,A000371,-108.11,133936.12,19023.61,16389.06,1752.20,7728.26,11926.93,1979.40,NaN,NaN,NaN,NaN,NaN,NaN
4,A000372,599.20,184178.06,14749.44,10592.15,2420.91,9087.25,13015.72,437.10,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Y000066,869.14,157710.79,6574.15,23756.48,2674.30,11106.78,4634.97,1372.37,NaN,NaN,NaN,NaN,NaN,NaN
502,Y000033,645.22,255064.41,16005.45,23820.85,424.59,11290.00,10082.29,180.89,NaN,NaN,NaN,NaN,NaN,NaN
503,Y000064,1425.58,233500.61,11762.09,18076.64,1714.11,7865.47,4676.80,11481.00,NaN,NaN,NaN,NaN,NaN,NaN
504,Z000017,2.85,208474.87,NaN,16145.23,162.40,21807.00,3331.53,813.31,NaN,NaN,NaN,NaN,NaN,NaN
505,Z000018,-27.57,183531.15,15864.42,13808.45,1495.43,6317.66,6236.12,747.71,NaN,NaN,NaN,NaN,NaN,NaN

## Predicting Election Results

We can see if there is some correlation between the proportions that senators spend on each category and whether or not they get re-elected. We can possibly use this to make a predictor for whether or not a person will get reelected.

In [24]:
years = house_data['YEAR'].unique()
categories = house_data['CATEGORY'].unique()

year = years[0]



spending_per_candidate = house_data.groupby(['YEAR', 'BIOGUIDE_ID','CATEGORY'])['AMOUNT'].sum()

spending_data = []
for year in years:
    for bio_id in bio_ids:
        # set the row to be the bio_id and year
        if bio_id in spending_per_candidate[year]:
            row = [bio_id, year]
            for category in categories:
                if category in spending_per_candidate[year][bio_id]:
                    row.append(spending_per_candidate[year][bio_id][category])
                else:
                    row.append(np.nan)
            spending_data.append(row)

year_spending_df = pd.DataFrame(spending_data)

# replace the NaNs with 0
year_spending_df.fillna(0, inplace=True)
year_spending_df

# combine totals for years into pairs of two

,BIOGUIDE_ID,YEAR,FRANKED MAIL,PERSONNEL COMPENSATION,TRAVEL,"RENT, COMMUNICATION, UTILITIES",PRINTING AND REPRODUCTION,OTHER SERVICES,SUPPLIES AND MATERIALS,EQUIPMENT,TRANSPORTATION OF THINGS,PERSONNEL BENEFITS,RENT COMMUNICATION UTILITIES,RENT COMMUNICATION UTILITIES,BENEFITS TO FORMER PERSONNEL,NaN
0,A000374,2015,47342.30,838124.23,119448.98,81221.99,42381.64,37351.59,38574.56,12888.87,40.00,0.0,0.0,0.00,0.0,0.0
1,A000370,2015,15742.82,804980.56,60240.36,104481.00,29949.28,27040.57,26028.37,86724.37,0.00,0.0,0.0,0.00,0.0,0.0
2,A000055,2015,9764.00,910757.11,72235.60,93374.57,8340.59,28794.12,38245.97,35383.90,0.00,0.0,0.0,0.00,0.0,0.0
3,A000371,2015,29241.73,727250.21,64116.39,127959.03,96840.62,31022.73,39300.14,12316.56,0.00,0.0,0.0,0.00,0.0,0.0
4,A000372,2015,40044.59,838910.12,58196.76,62637.48,54869.03,48957.25,28710.84,2006.61,0.00,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1810,Y000065,2018,45589.00,1350727.62,77260.00,0.00,74791.20,83745.12,48722.86,1858767.46,0.00,0.0,0.0,168570.94,0.0,0.0
1811,Y000066,2018,52795.42,1538359.38,111500.80,0.00,44553.60,63654.00,56829.10,2091764.10,0.00,0.0,0.0,182881.44,0.0,0.0
1812,Y000033,2018,1557.96,1745761.90,217851.52,0.00,2684.42,72260.00,40343.26,2238730.54,0.00,0.0,0.0,137979.40,0.0,0.0
1813,Z000017,2018,110893.14,1507166.60,49663.32,0.00,87864.66,124853.10,106987.42,2025446.82,107.28,0.0,0.0,176797.62,0.0,0.0
1814,Z000018,2018,0.00,0.00,0.00,0.00,225.08,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0

In [25]:
parts = []

def helper(x):
    years = house_data['YEAR'].unique()
    # add together the first two years  
    if years[0] % 2 == 1:
        start = 0
    else:
        start = 1
    #add together the first 2 columns of x
    for i in range(start, len(years), 2):
        row = x[i:i+2].sum()
        row['YEAR'] = years[i+1]
        row['BIOGUIDE_ID'] = x['BIOGUIDE_ID']
        parts.append(row)


year_spending_df.groupby('BIOGUIDE_ID').apply(helper)

Empty DataFrame
Columns: []
Index: []

In [26]:
parts[0]

BIOGUIDE_ID                       2       A000055
508     A000055
986     A00005...
YEAR                                                                           2016
FRANKED MAIL                                                               16713.16
PERSONNEL COMPENSATION                                                   1869424.39
TRAVEL                                                                    152979.56
RENT, COMMUNICATION, UTILITIES                                            165431.52
PRINTING AND REPRODUCTION                                                  17563.59
OTHER SERVICES                                                             57949.07
SUPPLIES AND MATERIALS                                                     90748.77
EQUIPMENT                                                                  66038.53
TRANSPORTATION OF THINGS                                                        0.0
PERSONNEL BENEFITS                                                              0.0
RENT COMMUNICATION UTILITIES                                               24000.98
RENT  COMMUNICATION  UTILITIES                                                  0.0
BENEFITS TO FORMER PERSONNEL                                                    0.0
NaN                                                                             0.0
dtype: object