## Motivation

explain why we are doing this project and why it's a topic worth doing data science on

# Part 1: Getting/Formatting the Data

For this project, we decided to use the [House Office Expenditure Data](https://www.propublica.org/datastore/dataset/house-office-expenditures) from ProPublica as it contains well formatted data about house expenditures from 2009 to 2018. The main downside of this dataset is that it is missing data from the most recent midterm election, but we still have almost 10 years of data to work with.

,BIOGUIDE_ID,OFFICE,QUARTER,PROGRAM,CATEGORY,SORT SEQUENCE,DATE,TRANSCODE,RECORDID,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,YEAR
0,NaN,2017 OFFICE OF THE SPEAKER,2017Q2,GENERAL EXPENDITURES,PERSONNEL COMPENSATION,NaN,NaN,NaN,NaN,ALTHOUSE JOSHUA S,4/1/17,6/30/17,CONSERVATIVE OUTREACH DIRECTOR,20000.01,2017
1,NaN,2017 OFFICE OF THE SPEAKER,2017Q2,GENERAL EXPENDITURES,PERSONNEL COMPENSATION,NaN,NaN,NaN,NaN,ANDRES DOUGLAS R,4/1/17,6/30/17,PRESS SECRETARY,27500.01,2017
2,NaN,2017 OFFICE OF THE SPEAKER,2017Q2,GENERAL EXPENDITURES,PERSONNEL COMPENSATION,NaN,NaN,NaN,NaN,ANDREWS THOMAS S,4/1/17,6/30/17,MEMBER SERVICES DIRECTOR,32500.00,2017
3,NaN,2017 OFFICE OF THE SPEAKER,2017Q2,GENERAL EXPENDITURES,PERSONNEL COMPENSATION,NaN,NaN,NaN,NaN,ANTELL GEOFFREY,4/1/17,6/30/17,ASST TO THE SPEAKER FOR POLICY,41250.00,2017
4,NaN,2017 OFFICE OF THE SPEAKER,2017Q2,GENERAL EXPENDITURES,PERSONNEL COMPENSATION,NaN,NaN,NaN,NaN,BENJAMIN WILLIAM C.,4/1/17,6/30/17,SYSTEM ADMINISTRATOR,13250.01,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106132,NaN,FISCAL YEAR 2016 PAGING,2017Q2,PAGING,EQUIPMENT,NaN,5/17/17,AP,923290,BEARCOM,4/1/17,4/30/17,WARRANTIES,6405.41,2017
106133,NaN,FISCAL YEAR 2016 PAGING,2017Q2,PAGING,EQUIPMENT,NaN,6/27/17,AP,929542,BEARCOM,6/1/17,6/30/17,WARRANTIES,6405.41,2017
106134,NaN,FISCAL YEAR 2016 PAGING,2017Q2,PAGING,EQUIPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EQUIPMENT TOTALS:,12810.82,#VALUE!
106135,NaN,FISCAL YEAR 2016 PAGING,2017Q2,PAGING,EQUIPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAGING TOTALS:,12810.82,#VALUE!
106136,NaN,FISCAL YEAR 2016 PAGING,2017Q2,PAGING,EQUIPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OFFICE TOTALS:,12810.82,#VALUE!

In [24]:
import pandas as pd
# just finna test with one of the files to see what happens
frames = []
#manually add stuff for 2009 since only Q3 and Q4 are present
frames.append(pd.read_csv('house-expenditure/2009Q3-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))
frames.append(pd.read_csv('house-expenditure/2009Q4-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))


#automate the dataframes from 2010 to 2017
for i in range(2010, 2017):
    for j in range(1, 5):
        print (i, j)
        try:
            df = pd.read_csv('house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv')
            frames.append(df.dropna(subset = ['BIOGUIDE_ID']))
        except: 
            print ('file unfortunate')
        

# manually add stuff for 2018 since only Q1 is present
frames.append(pd.read_csv('house-expenditure/2018Q1-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))

house_data = pd.concat(frames)
house_data

2010 1

/tmp/ipykernel_9316/1140011847.py:14: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-detail.csv')

2010 2
2010 3
2010 4
2011 1
2011 2
2011 3
2011 4
2012 1
2012 2
2012 3
2012 4
2013 1
2013 2
2013 3
2013 4
2014 1
2014 2
2014 3
2014 4
2015 1
2015 2
2015 3
2015 4
2016 1
2016 2
2016 3
2016 4

,BIOGUIDE_ID,OFFICE,QUARTER,CATEGORY,DATE,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,YEAR,TRANSCODE,TRANSCODELONG,RECORDID,RECIP (orig.),PROGRAM
8329,A000014,HON. NEIL ABERCROMBIE,2009Q3,FRANKED MAIL,NaN,07Â­23 O4 NW200900600 UNITED STATES P...,06/01/09,06/30/09,FRANKED MAIL,230.50,2009,NaN,NaN,NaN,07Â­23 O4 NW200900600 UNITED STATES P...,NaN
8330,A000014,HON. NEIL ABERCROMBIE,2009Q3,FRANKED MAIL,NaN,08Â­26 O4 NW200900700 UNITED STATES P...,07/01/09,07/31/09,FRANKED MAIL,"1,257.02",2009,NaN,NaN,NaN,08Â­26 O4 NW200900700 UNITED STATES P...,NaN
8331,A000014,HON. NEIL ABERCROMBIE,2009Q3,FRANKED MAIL,NaN,09Â­29 O4 NW200900800 UNITED STATES P...,08/01/09,08/31/09,FRANKED MAIL,585.62,2009,NaN,NaN,NaN,09Â­29 O4 NW200900800 UNITED STATES P...,NaN
8332,A000014,HON. NEIL ABERCROMBIE,2009Q3,PERSONNEL COMPENSATION,NaN,"ADAMS,LEE-ANN E",07/01/09,09/30/09,MILITARY LIAISON,"20,250.00",2009,NaN,NaN,NaN,"ADAMS,LEE-ANN E",NaN
8333,A000014,HON. NEIL ABERCROMBIE,2009Q3,PERSONNEL COMPENSATION,NaN,"ASSELBAYE, AMY",07/01/09,09/30/09,CHIEF OF STAFF,"32,499.99",2009,NaN,NaN,NaN,"ASSELBAYE, AMY",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76888,Z000018,HON. RYAN K. ZINKE,2016Q4,EQUIPMENT,12/30/16,NaN,12/1/16,12/31/16,EQUIPMENT PURCHASES,47.71,2016,GL,NaN,RPY0064566,NaN,OFFICIAL EXPENSES OF MEMBERS
76889,Z000018,HON. RYAN K. ZINKE,2016Q4,TRAVEL,12/12/16,ENTERPRISE HOLDINGS,10/19/16,11/2/15,CAR RENTAL,-681.2,2016,AR,NaN,AC-12495,ENTERPRISE HOLDINGS,OFFICIAL EXPENSES OF MEMBERS
76890,Z000018,HON. RYAN K. ZINKE,2016Q4,TRAVEL,12/12/16,ENTERPRISE HOLDINGS,11/6/15,11/9/15,CAR RENTAL,-166.92,2016,AR,NaN,AC-12496,ENTERPRISE HOLDINGS,OFFICIAL EXPENSES OF MEMBERS
76891,Z000018,HON. RYAN K. ZINKE,2016Q4,TRAVEL,12/12/16,ENTERPRISE HOLDINGS,11/9/15,11/15/15,CAR RENTAL,-546.0,2016,AR,NaN,AC-12497,ENTERPRISE HOLDINGS,OFFICIAL EXPENSES OF MEMBERS
76892,Z000018,HON. RYAN K. ZINKE,2016Q4,TRAVEL,12/12/16,ENTERPRISE HOLDINGS,11/19/15,11/19/15,CAR RENTAL,-58.76,2016,AR,NaN,AC-12498,ENTERPRISE HOLDINGS,OFFICIAL EXPENSES OF MEMBERS

[election data](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2)

In [25]:
election_data = pd.read_csv('house-expenditure/1976-2020-house.csv')

# filter out the years before 2009 and after 2018
election_data = election_data[election_data['year'] >= 2009]
election_data = election_data[election_data['year'] <= 2018]

election_data

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
22553,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,DAVID WALTER,CONSTITUTION,False,TOTAL,26357,156281,False,20220331,False
22554,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,JO BONNER,REPUBLICAN,False,TOTAL,129063,156281,False,20220331,False
22555,2010,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,861,156281,False,20220331,False
22556,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,BOBBY BRIGHT,DEMOCRAT,False,TOTAL,106865,219028,False,20220331,False
22557,2010,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,MARTHA ROBY,REPUBLICAN,False,TOTAL,111645,219028,False,20220331,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29631,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,DANIEL CLYDE CUMMINGS,CONSTITUTION,False,TOTAL,6070,201245,False,20220331,False
29632,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,GREG HUNTER,DEMOCRAT,False,TOTAL,59903,201245,False,20220331,False
29633,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,LIZ CHENEY,REPUBLICAN,False,TOTAL,127963,201245,False,20220331,False
29634,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,RICHARD BRUBAKER,LIBERTARIAN,False,TOTAL,6918,201245,False,20220331,False
29635,2018,WYOMING,WY,56,83,68,US HOUSE,0,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,391,201245,False,20220331,False

In [30]:
categories = {}
def add_set(row):
    if row['CATEGORY'] not in categories:
        categories[row['CATEGORY']] = 1
    else:
        categories[row['CATEGORY']] += 1

#apply add_set to the house_data
house_data.apply(add_set, axis = 1);

8329     None
8330     None
8331     None
8332     None
8333     None
         ...
76888    None
76889    None
76890    None
76891    None
76892    None
Length: 2424271, dtype: object

Try to figure out what categories we are working with and how these categories should be group into broader categories

In [26]:
# go through each row and add the category to a set
categories = {}
for index, row in house_data.iterrows():
    if row['CATEGORY'] not in categories:
        categories[row['CATEGORY']] = 1
    else:
        categories[row['CATEGORY']] += 1

In [31]:
categories

{'FRANKED MAIL': 72400,
 'PERSONNEL COMPENSATION': 323098,
 'TRAVEL': 561428,
 'RENT, COMMUNICATION, UTILITIES': 649602,
 'PRINTING AND REPRODUCTION': 109423,
 'OTHER SERVICES': 137884,
 'SUPPLIES AND MATERIALS': 478633,
 'EQUIPMENT': 72978,
 'PERSONNEL BENEFITS': 145,
 'TRANSPORTATION OF THINGS': 221,
 'RENT COMMUNICATION UTILITIES': 18459}

In [37]:
import pandas as pd
# just finna test with one of the files to see what happens
frames = []
#manually add stuff for 2009 since only Q3 and Q4 are present
frames.append(pd.read_csv('house-expenditure/2009Q3-house-disburse-summary.csv').dropna(subset = ['BIOGUIDE_ID']))
frames.append(pd.read_csv('house-expenditure/2009Q4-house-disburse-summary.csv').dropna(subset = ['BIOGUIDE_ID']))


#automate the dataframes from 2010 to 2017
for i in range(2010, 2017):
    for j in range(1, 5):
        print (i, j)
        try:
            df = pd.read_csv('house-expenditure/' + str(i) + 'Q' + str(j) +'-house-disburse-summary.csv')
            frames.append(df.dropna(subset = ['BIOGUIDE_ID']))
        except: 
            print ('file unfortunate')
        

# manually add stuff for 2018 since only Q1 is present
#frames.append(pd.read_csv('house-expenditure/2018Q1-house-disburse-detail.csv').dropna(subset = ['BIOGUIDE_ID']))

house_data2 = pd.concat(frames)

2010 1
2010 2
2010 3
2010 4
2011 1
2011 2
2011 3
2011 4
2012 1
2012 2
2012 3
2012 4
2013 1
2013 2
2013 3
2013 4
2014 1
2014 2
2014 3
2014 4
2015 1
2015 2
2015 3
2015 4
2016 1
2016 2
2016 3
2016 4

In [40]:
categories2 = {}
def add_set(row):
    if row['CATEGORY'] not in categories2:
        categories2[row['CATEGORY']] = 1
    else:
        categories2[row['CATEGORY']] += 1

#apply add_set to the house_data
house_data2.apply(add_set, axis = 1);

In [41]:
categories2

{'FRANKED MAIL': 12823,
 'PERSONNEL COMPENSATION': 12842,
 'PERSONNEL BENEFITS': 859,
 'TRAVEL': 12812,
 'RENT, COMMUNICATION, UTILITIES': 12833,
 'PRINTING AND REPRODUCTION': 12708,
 'OTHER SERVICES': 12809,
 'SUPPLIES AND MATERIALS': 12833,
 'EQUIPMENT': 12713,
 'TRANSPORTATION OF THINGS': 230,
 '2015Q1': 96,
 nan: 4453}